<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Home">Home</a></li>
        <li><a data-toggle="tab" href="#ClubMembers">Club Members</a></li>
        <li><a data-toggle="tab" href="#">Projects</a></li>
        <li><a data-toggle="tab" href="#">Meetings</a></li>
        <li><a href="../Customers/Index">Customers</a></li>
        <li><a data-toggle="tab" href="#Users">Users</a></li>
        @Html.Partial("_LoginPartial")
    </ul>
 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Business Tech Solutions. All rights reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
